@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/cinzel/files/cinzel-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('@fontsource/cinzel/files/cinzel-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('@fontsource/cinzel/files/cinzel-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/cinzel/files/cinzel-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('@fontsource/cinzel/files/cinzel-latin-800-normal.woff2') format('woff2');
}